* {
    box-sizing: border-box;
}

body {
    margin: 0; 
    width: 100%; 
    font-family: 'Lato', sans-serif;
    background-color: #fff;
    color: #fff;
}

.button {
    width: 100px; 
    height: 30px; 
    border-radius: 20px; 
    box-shadow: 4px 4px 4px #000;
    background-color: #1e2f5c;
    color: #fff;
    font-weight: bold;
    margin-left: 50px;
    font-size: 13px;
    padding-left: 25px;
    padding-top: 5px;    
}

/*===========================*/
    /*Header Section=========*/
/*===========================*/
#header-container {
    width: 100%; 
    height: 50vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)),url(images/whitehouse.jpg);
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    color: #fff; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#header-container h1 {
    font-weight: bold;
    font-size: 40px; 
    font-family: 'Oswald', sans-serif;
}

#header-container p {
    font-size: 15px; 
    text-align: center;
}

/*=================================*/
    /*Candidate Section=========*/
/*==================================*/

#candidate-container {
    padding: 10px; 
}

.candidate-form {
    border: 4px solid #000;
    border-radius: 2%;
    width: 300px;
    height: 500px; 
    display: block; 
    margin-top: 0 auto; 
    background-color: #900f30;
    box-shadow: 4px 4px 4px #000; 
}

.candidate-form h2 {
    text-align: center;
    font-size: 20px; 
}

.candidate-form label {
    display: flex; 
    flex-direction: column;
    margin-bottom: 20px; 
    text-align: center;
}

.candidate-name, 
.year-input, 
.office-input {
    width: 150px; 
   height: 30px;
}

.candidate-form input {
   display: block; 
   margin: 30px auto;  
}

.candidate-submit {
    margin-top: 30px;
    border: 1px solid #000; 
    margin-left: 50px;
    display: flex;
    flex-direction: column;
     
}

/*=================================*/
    /*News Section=========*/
/*==================================*/

#news-container {
    padding: 10px; 
}

.news-form {
    border: 4px solid #000;
    border-radius: 2%;
    width:300px;
    height: 355px;
    margin-top: 30px; 
    text-align: center;
    background-color: #900f30;
    box-shadow: 4px 4px 4px #000; 
}

.news-form h2 {
    font-size: 20px; 
  
}

.news-form label {
    display: flex;
    flex-direction: column;
}

.news-input {
   width: 150px; 
   height: 30px;
}

.news-form input {
    display: block; 
    margin: 30px auto; 
}

.news-submit {
    display: flex; 
    flex-direction: column;
    border: 1px solid #000; 
    margin-top: 40px; 
}